# Ignore 1km vietnam data
/1km_vn_data/csv
/1km_vn_data/grid
/1km_vn_data/points_s1_dates_csv
/1km_vn_data/s1_dates_per_grid
/1km_vn_data/vn_points

# Ignore trained model
/Demo/

# Ignore roi inference 
/roi_inference/regions_data_results/

/training_data