datasets
earthengine-api
geemap
geocoder
geojson
google-api-core
google-api-python-client
google-auth
numpy
opencv-python
planet
scikit-learn
torch
torchvision
gdal
geos
geotiff
hdf5
matplotlib
pandas
pillow
python
setuptools